<DOCTYPE HTML>
  <html>
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/styles.css"/>
      <title>Qr Code Generator</title>
    </head>
    <body>
      <div class="box">
        <h1>Qr code Generator</h1>

<div class="up">
        
      <img src="images/img.png" alt="">
        <a class="download" href ="images/img.png" download >download</a>
</div>
        <div class="down">
        <form action="/" method="post">
      <input name="qurl" type="text" placeholder="Enter Url / Text" value="">
          <button type="submit" class="btn">Generate</button>
        </form>
        </div>
    </div>
      <footer>
        <p>&#169;Copyright all rights reserved <a href="https://codeliterature.netlify.app/" target="_blank">CodeLiterature</a></p>
      </footer>
    </body>
  </html>